@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-ff  text-[#5f6c7b] dark:text-[#94a1b2] tracking-wide  duration-[150ms] ease-linear select-none overflow-x-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  /* h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  } */
}
@layer components {
  .text-ff {
    @apply text-[#16161a] dark:text-[#FBFBFB];
  }
  .bg-ff {
    @apply bg-[#fffffe] dark:bg-[#16161a];
  }
  .sectiondivider {
    @apply my-[4rem] md:my-[7rem];
  }
}
